@media only screen and (min-width: 60rem) {
    
main {
    max-width: 75rem;
}

figure.large {
    margin: 0 0 0 .5%;
    display: block;
  }
  
  figure.medium {
    display: none;
  }
  
  figure.small {
    display: none;
  }

  figure.large img {
    display: block;
    width: 100%;
  }

  figure.large figcaption {
    text-align: center;
  }

} /* end of media query */