@media only screen and (min-width: 30rem) {
    
nav li {
    float: left;
    width: auto;
}

nav li a {
    padding: .5rem 1rem;
}

nav ul {
    padding-left: 2%;
}

figure.medium {
    margin: 0 0 0 .5%;
    display: block;
  }
  
  figure.small {
    display: none;
  }
  
  figure.large {
    display: none;
  }

  figure.medium img {
    display: block;
    width: 100%;
  }

  figure.medium figcaption {
    text-align: center;
  }

} /* end of media query */